<ion-view view-title="About us">
  <ion-content>
	<div class="card">
	    <div class="item item-divider">
	        Easy way to a relaxing lifestyle. Find your desided home service right here !!!
	    </div>
	    <div class="item  item-text-wrap">
	        <p>Our aim is to provide a market place for hourly wage workers like carpenters, plumbers, electricians, gardeners, etc. Our goal is to help the skilled individuals to find hourly basis jobs. Also for the home makers and the retired elderly people find suitable help at click of a button.</p>
	        <p>Ease of doing businesses for skilled individuals. Ease of finding quality household help.</p>
	    </div>
	</div>
    
  </ion-content>
</ion-view>
