<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Location information
        </div>
        <div class="item">
            <h2>Our Address</h2>
			<p>121, Clear Water Bay Road</p>
			<p>Clear Water Bay, Kowloon</p>
			<p>HONG KONG</p>
			<p><sub class="ion-ios-telephone" style="font-size: 20px; "></sub> : +852 1234 5678</p>
			<p><sub class="ion-printer" style="font-size: 20px; "></sub>: +852 8765 4321</p>
			<p><sub class="ion-ios-email" style="font-size: 20px; "></sub> : <a href="mailto:confusion@food.net">confusion@food.net</a></p>
        </div>
        <div class="button-bar">
            <a type="button" class="button icon-left ion-ios-telephone button-positive" href="tel:+85212345678">Call</a>
            <a class="button icon-left ion-social-skype button-calm">Skype</a>
            <a type="button" href="mailto:confusion@food.net" class="button icon-left ion-ios-email-outline button-balanced">Email</a>
        </div>
    </div>
  </ion-content>
</ion-view>